.description {
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}

.description .body {
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}

.description .body p {
    margin: 0px;
}

.description .body p:nth-of-type(1) {
    font-size: clamp(1.5rem, 4vw, 2.25rem);
    gap: 0.5rem;
    line-height: 1.3;
}

.description .body p:nth-of-type(1) span {
    margin-right: 0.2rem;
}

.description .body p:nth-of-type(1) .mask {
    position: relative;
    overflow: hidden;
    display: inline-flex;
}

.description .body p:nth-of-type(2) {
    font-size: clamp(1rem, 2vw, 1.125rem);
    width: 100%;
    font-weight: 200;
    color: gray;
}

/* Tablet and desktop layout */
@media (min-width: 768px) {
    .description .body {
        flex-direction: row;
        gap: 3rem;
    }
    
    .description .body p:nth-of-type(2) {
        width: 80%;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    .description {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    .description .body {
        gap: 3.5rem;
    }
}