:root {
    --color-dark: #1C1D20;
    --color-dark-dark: #141517;
    --color-light: #FFFFFF;
    --color-blue: #3c0909;
    --color-blue-dark: #3c0909;
    --color-gray: #999D9E;
    --color-lightgray: #E9EAEB;
    --color-white: #FFFFFF;
    
    --color-border: rgba(28, 29, 32, 0.175);
    --color-border-solid: #D2D2D2;
    --color-border-light: rgba(255, 255, 255, 0.2);
    --color-border-solid-light: #545557;

    --color-text: #1C1D20;
    --color-text-light: #FFF;

    --alert-error: #ff4444;
    --alert-success: #24C958;

    --animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
    --animation-fast: all .3s cubic-bezier(.7, 0, .3, 1);
    --animation-smooth: all .7s cubic-bezier(.7, 0, .3, 1);
    --animation-slow: all .9s cubic-bezier(.7, 0, .3, 1);

    --section-padding: clamp(5em, 21vh, 12em);
    --container-padding: clamp(2.5em, 8vw, 8em);
    --gap-padding: clamp(1.5em, 4vw, 2.5em);
}

@media screen and (max-width: 1200px){
    :root { 
        --container-padding: 6vw;
    }
}

@media screen and (max-width: 720px){
    :root { 
        --section-padding: 12vh;
    }
}

@media screen and (max-width: 540px){
    :root { 
        --color-border: rgba(28, 29, 32, 0.225);
        --color-border-light: rgba(255, 255, 255, 0.225);
        --container-padding: clamp(1.25em, 4vw, 2.5em);
        --section-padding: max(2.5em, 12vh);
    }
}

.arrow {
   position: relative;
   width: clamp(.9em, 1.1vw, 1.1em);
}

.arrow.big {
   position: relative;
   width: clamp(1.1em, 1.3vw, 1.25em);
}

.arrow svg {
   display: block;
   width: 100%;
}

.section {
    display: block;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.section.full-height {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.section.no-padding {
    padding-top: unset;
    padding-bottom: unset;
}

.container {
    margin: 0 auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    max-width: 100em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.row.no-flex {
    display: block;
}

.row.no-wrap {
    flex-wrap: nowrap;
}

.flex-col {
    display: block;
    width: 100%;
    order: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.home-header {
   min-height: 100vh;
   display: flex;
   align-items: center;
   background: var(--color-gray);
   overflow: hidden;
}

.home-header .personal-image-wrap {
   top: 50%;
   left: 50%;
   height: 100%;
   width: 100%;
   display: block;
   position: absolute;
   transform: translate(-50%, -50%);
}

.home-header .personal-image {
   width: 100%;
   height: 110%;
   background: var(--color-gray);
}

.home-header .personal-image img {
   width: auto;
   height: 100%;
   object-fit: cover;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.home-header .big-name {
   position: absolute;
   bottom: 0vh;
   left: 0;
   width: 100%;
   padding-bottom: calc(var(--gap-padding) * 1.25);
}

.home-header .big-name .name-h1 {
   position: relative;
   display: flex;
   width: 100%;
}

.home-header .big-name .name-wrap {
   position: relative;
   display: flex;
   align-items: center;
}

.home-header .big-name .name-wrap .spacer {
   padding: 0 3vw;
}

.home-header .big-name h1 {
   position: relative;
   display: flex;
   align-items: center;
   color: var(--color-white);
   line-height: 1;
   font-size: 17.5vw;
   font-size: max(9em, 15vw);
   white-space: nowrap;
   pointer-events: none;
   margin: 0;
   padding: 0;
}

.home-header .container {
   width: 100%;
}

.home-header .row {
   justify-content: flex-end;
}

.home-header .row .flex-col {
   width: auto;
}

.home-header .row .flex-col .header-above-h4 {
   top: -12.5vh;
   position: absolute;
}

.home-header .row .flex-col .header-above-h4 svg {
   width: clamp(1.1em, 1.3vw, 1.25em);
}

.home-header .row .flex-col h4 {
   line-height: 1.4;
   margin-bottom: 0;
}

.home-header .row .flex-col h4 span {
   display: block;
}

.home-header .get-height {
   height: 100vh;
}

.home-header .hanger {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   display: inline-block;
}

.home-header .hanger svg {
   width: auto;
   height: 6em;
}

.home-header .hanger p {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   margin: 0;
   padding-right: 5em;
   padding-left: var(--gap-padding);
   line-height: 1.2;
}

.home-header .hanger p span {
   display: block;
}

.home-header .white-block {
   position: absolute;
   height: 30vh;
   width: 50vw;
   top: 115vh;
   right: 0;
   background: var(--color-white);
   display: none;
}

.home-header .hanger .digital-ball {
   z-index: 500;
   position: absolute;
   right: .9em;
   left: auto;
   top: .9em;
   width: 4.2em;
   height: 4.2em;
   transform: translate(0%, 0%);
   background: transparent;
}

.home-header .hanger .digital-ball .globe {
   width: 2.5em;
   height: 2.5em;
   font-size: .8em;
}

@media screen and (max-width: 720px){
   .home-header {
      min-height: 110vh;
      min-height: calc(var(--vh, 1vh) * 110);
      max-height: 110vh;
      align-items: flex-end;
      padding-top: calc(var(--gap-padding) * 2);
      padding-bottom: calc(var(--gap-padding) * 2);
   }

   .home-header .personal-image {
      top: -5%;
      height: 105%;
   }

   .home-header .big-name {
      position: absolute;
      bottom: calc(var(--vh, 1vh) * 33);
      left: 0;
      width: 100%;
      padding-bottom: calc(var(--gap-padding) * 1.25);
   }

   .home-header .row {
      justify-content: flex-start;
   }

   .home-header .container {
      padding-bottom: calc(var(--vh, 1vh) * 9);
   }

   .home-header .row .flex-col .header-above-h4 {
      top: calc(var(--vh, 1vh) * -8);
      position: absolute;
   }
   .home-header .row .flex-col .header-above-h4 #Artboard{
      stroke: black !important;
   }

   .home-header .row .flex-col h4 {
      color : black;
   }
   .home-header .big-name h1{
      color : black;
   }

   .home-header .hanger {
      width: 6em;
      height: 6em;
      left: auto;
      right: 0;
      top: calc(var(--vh, 1vh) * 100);
      transform: translate(0, -110%);
   }

   .home-header .hanger svg,
   .home-header .hanger p {
      display: none;
   }

   .home-header .hanger .digital-ball .globe {
      width: 3em;
      height: 3em;
   }
}

.line-globe {
   overflow: visible;
   z-index: 5;
}

@keyframes digitalball {
   0%   {background: var(--color-blue);}
   50%   {background: #ff4444;}
   100% {background: var(--color-blue);}
}

.digital-ball {
   width: clamp(9em, 12vw, 11em);
   height: clamp(9em, 12vw, 11em);
   background: var(--color-dark);
   border-radius: 50%;
   top: 0;
   right: 0;
   transform: translate(-50%, -50%);
   position: absolute;
   overflow: hidden;
   background: var(--color-blue);
}

.digital-ball .overlay {
   opacity: 0;
   transition: opacity 1s ease-in-out;
   animation: digitalball 6s ease-in-out infinite;
}

.line-globe .digital-ball:hover .overlay {
   opacity: 1;
}

@keyframes globeBounce {
   0%   {transform: translate(-50%, -40%);}
   50%  {transform: translate(-50%, -60%);}
   100% {transform: translate(-50%, -40%);}
}

.globe {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 3em;
   height: 3em;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   overflow: hidden;
   will-change: transform;
}

@keyframes globe {
   0%   {transform: translate(-50%, -50%) rotate(15deg); }
   50%   {transform: translate(-50%, -50%) rotate(-15deg);}
   100% {transform: translate(-50%, -50%) rotate(15deg);}
}

.globe-wrap {
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   position: absolute;
   display: block;
   border-radius: 50%;
   transform: translate(-50%, -50%) rotate(30deg);
   animation: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
   overflow: hidden;
   box-shadow: inset 0px 0px 0px .125em black;
}

.globe .circle {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   box-shadow: inset .1em 0px 0px .08em black;
   animation: circle1 2.7s linear infinite;
   font-size: .75em;
}

@keyframes circle1 {
   0%   {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em black; width: 100%; }
   49%  {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em black; background: transparent;}
   50%  {border-radius: 0%; width: .175em; background: var(--color-white);}
   51%  {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em black; background: transparent;}
   100% {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em black; width: 100%;}
}

.globe :nth-child(1) {
   animation-delay: -1.8s;
}

.globe :nth-child(2) {
   animation-delay: -.9s;
}

.globe .circle-hor {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 150%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   height: 55%;
   box-shadow: inset 0px 0px 0px .15em black;
   font-size: .75em;
}

.globe .circle-hor-middle {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 150%;
   transform: translate(-50%, -50%);
   border-radius: 0%;
   height: .15em;
   background: black;
   font-size: .75em;
}

@media screen and (max-width: 1000px) {
   .digital-ball {
      transform: translate(-20%, -50%);
   }
}