.hanger {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

.hanger svg {
  width: auto;
  height: 6em;
}

.hanger p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding-right: 5em;
  padding-left: clamp(1.5em, 4vw, 2.5em);
  line-height: 1.2;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
  font-family: 'Dennis Sans', sans-serif;
  font-weight: 450;
  font-size: 1em;
}

.hanger p span {
  display: block;
}

.digital-ball {
  z-index: 500;
  position: absolute;
  right: 0.9em;
  left: auto;
  top: 0.9em;
  width: 4.2em;
  height: 4.2em;
  transform: translate(0%, 0%);
  background: transparent;
}

.digital-ball .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}

.globe {
  width: 2.5em;
  height: 2.5em;
  font-size: 0.8em;
  position: relative;
}

.globe-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.circle {
  position: absolute;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.circle:nth-child(1) {
  transform: rotate(0deg);
}

.circle:nth-child(2) {
  transform: rotate(60deg);
}

.circle:nth-child(3) {
  transform: rotate(120deg);
}

.circle-hor {
  position: absolute;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(90deg);
}

.circle-hor-middle {
  position: absolute;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
}

/* Mobile styles */
@media screen and (max-width: 720px) {
  .hanger {
    width: 6em;
    height: 6em;
    left: auto;
    right: 0;
    top: calc(var(--vh, 1vh) * 100);
    transform: translate(0, -110%);
  }

  .hanger svg,
  .hanger p {
    display: none;
  }

  .globe {
    width: 3em;
    height: 3em;
  }
}

/* Animation classes */
.once-in {
  opacity: 1;
}

.globe {
  width: 2.5em;
  height: 2.5em;
  font-size: 0.8em;
  position: relative;
  transform-origin: center center;
}




.line-globe {
   overflow: visible;
   z-index: 5;
}

@keyframes digitalball {
   0%   {background: var(--color-blue);}
   50%   {background: #ff4444;}
   100% {background: var(--color-blue);}
}

.digital-ball {
   width: clamp(9em, 12vw, 11em);
   height: clamp(9em, 12vw, 11em);
   background: var(--color-dark);
   border-radius: 50%;
   top: 0;
   right: 0;
   transform: translate(-50%, -50%);
   position: absolute;
   overflow: hidden;
   background: var(--color-blue);
}

.digital-ball .overlay {
   opacity: 0;
   transition: opacity 1s ease-in-out;
   animation: digitalball 6s ease-in-out infinite;
}

.line-globe .digital-ball:hover .overlay {
   opacity: 1;
}

@keyframes globeBounce {
   0%   {transform: translate(-50%, -40%);}
   50%  {transform: translate(-50%, -60%);}
   100% {transform: translate(-50%, -40%);}
}

.globe {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 3em;
   height: 3em;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   overflow: hidden;
   will-change: transform;
}

@keyframes globe {
   0%   {transform: translate(-50%, -50%) rotate(15deg); }
   50%   {transform: translate(-50%, -50%) rotate(-15deg);}
   100% {transform: translate(-50%, -50%) rotate(15deg);}
}

.globe-wrap {
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   position: absolute;
   display: block;
   border-radius: 50%;
   transform: translate(-50%, -50%) rotate(30deg);
   animation: globe 5.4s cubic-bezier(0.35, 0, 0.65, 1) infinite;
   overflow: hidden;
   box-shadow: inset 0px 0px 0px .125em #FFFFFF;
}

.globe .circle {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100%;
   height: 100%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   box-shadow: inset .1em 0px 0px .08em #FFFFFF;
   animation: circle1 2.7s linear infinite;
   font-size: .75em;
}

@keyframes circle1 {
   0%   {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em #FFFFFF; width: 100%; }
   49%  {border-radius: 50%; box-shadow: inset .1em 0px 0px .08em #FFFFFF; background: transparent;}
   50%  {border-radius: 0%; width: .175em; background: #FFFFFF;}
   51%  {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em #FFFFFF; background: transparent;}
   100% {border-radius: 50%; box-shadow: inset -.1em 0px 0px .08em #FFFFFF; width: 100%;}
}

.globe :nth-child(1) {
   animation-delay: -1.8s;
}

.globe :nth-child(2) {
   animation-delay: -.9s;
}


.globe .circle-hor {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 150%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   height: 55%;
   box-shadow: inset 0px 0px 0px .15em #FFFFFF;
   font-size: .75em;
}

.globe .circle-hor-middle {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 150%;
   transform: translate(-50%, -50%);
   border-radius: 0%;
   height: .15em;
   background: #FFFFFF;
   font-size: .75em;
}

@media screen and (max-width: 1000px) {

   .digital-ball {
      transform: translate(-20%, -50%);
   }

}