<div class="main-wrap" data-scroll-container><header class="section home-header theme-dark" data-scroll-section>

   <div class="overlay personal-image no-select once-in" data-scroll data-scroll-speed="-3" data-scroll-position="top">
      <img src="/img/wissem.png"/>
   </div>

   <div class="overlay get-height once-in once-in-secondary">
      <div class="hanger">
         <p><span>Located </span><span>in the </span><span>Tunisia</span></p>
         <?xml version="1.0" encoding="UTF-8"?>
<svg width="300px" height="121px" viewBox="0 0 300 121" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Combined Shape</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" transform="translate(0.000000, -366.000000)" fill="#1C1D20">
            <g id="Group" transform="translate(149.816828, 426.633657) rotate(90.000000) translate(-149.816828, -426.633657) translate(89.816828, 276.816828)">
                <g id="Hanger" transform="translate(60.000000, 149.816828) rotate(-90.000000) translate(-60.000000, -149.816828) translate(-89.816828, 89.816828)">
                    <path d="M239.633657,0 C272.770742,1.0182436e-15 299.633657,26.862915 299.633657,60 C299.633657,93.137085 272.770742,120 239.633657,120 L0,120 L0,0 L239.633657,0 Z M239.633657,18.7755102 C216.866,18.7755102 198.409167,37.232343 198.409167,60 C198.409167,82.767657 216.866,101.22449 239.633657,101.22449 C262.401314,101.22449 280.858147,82.767657 280.858147,60 C280.858147,37.232343 262.401314,18.7755102 239.633657,18.7755102 Z" id="Combined-Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>         <div class="digital-ball">
            <div class="overlay"></div>
            <div class="globe">
               <div class="globe-wrap">
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle"></div>
                  <div class="circle-hor"></div>
                  <div class="circle-hor-middle"></div>
               </div>
            </div>
         </div>
      </div>
   </div>


   <div class="nav-bar">
        <div class="credits-top">
            <div class="btn btn-link btn-left-top">
                <a href="/index.html" class="btn-click magnetic" data-strength="20" data-strength-text="10">
                <span class="btn-text">
                    <div class="credit"><span>©</span></div><div class="cbd"><span class="code-by">Code by </span><span class="dennis"><span class="wissem">Wissem</span> <span class="sahli">Sahli</span></span></span></div>
                </span>
                </a>
        </div>
    </div>

</div>   
    <div class="container once-in once-in-secondary">
      <div class="row">
         <div class="flex-col">
            <div class="header-above-h4" data-scroll data-scroll-speed="1">
               <div class="arrow big"><?xml version="1.0" encoding="UTF-8"?>
<svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>arrow-up-right</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" transform="translate(-1019.000000, -279.000000)" stroke="#FFFFFF" stroke-width="1.5">
            <g id="arrow-up-right" transform="translate(1026.000000, 286.000000) rotate(90.000000) translate(-1026.000000, -286.000000) translate(1020.000000, 280.000000)">
                <polyline id="Path" points="2.76923077 0 12 0 12 9.23076923"></polyline>
                <line x1="12" y1="0" x2="0" y2="12" id="Path"></line>
            </g>
        </g>
    </g>
</svg></div>
            </div>
            <h4><span>Freelance</span> Data scientist & Developer</h4>
         </div>
      </div>
   </div>
   <div class="big-name">
      <div class="name-h1" data-scroll data-scroll-direction="horizontal" data-scroll-speed="4" data-scroll-position="top">
         <div class="name-wrap">
            <h1 class="no-select once-in once-in-secondary">Wissem Sahli<span class="spacer">—</span></h1>
         </div>
      </div>
   </div>
   <div class="white-block"></div>
</header>

.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.row.no-flex {
    display: block;
}

.row.no-wrap {
    flex-wrap: nowrap;
}

.flex-col {
    display: block;
    width: 100%;
    order: 2;
    position: relative;
}

.arrow {
   position: relative;
   width: clamp(.9em, 1.1vw, 1.1em);
}

.arrow.big {
   position: relative;
   width: clamp(1.1em, 1.3vw, 1.25em);
}

.arrow svg {
   display: block;
   width: 100%;
}

.home-header {
   min-height: 115vh;
   display: flex;
   align-items: center;
   background: var(--color-gray);
   overflow: hidden;
}

.home-header .personal-image-wrap {
   top: 50%;
   left: 50%;
   height: 100%;
   width: 100%;
   display: block;
   position: absolute;
   transform: translate(-50%, -50%);
}

.home-header .personal-image {
   top: -10%;
   width: 100%;
   height: 110%;
   background: var(--color-gray);
}

.home-header .personal-image img {
   width: auto;
   height: 100%;
   object-fit: cover;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.home-header .big-name {
   position: absolute;
   bottom: 15vh;
   left: 0;
   width: 100%;
   padding-bottom: calc(var(--gap-padding) * 1.25);
}

.home-header .big-name .name-h1 {
   position: relative;
   display: flex;
   width: 100%;
}

.home-header .big-name .name-wrap {
   position: relative;
   display: flex;
   align-items: center;
}

.home-header .big-name .name-wrap .spacer {
   padding: 0 3vw;
}

.home-header .big-name h1 {
   position: relative;
   display: flex;
   align-items: center;
   color: var(--color-white);
   line-height: 1;
   font-size: 17.5vw;
   font-size: max(9em, 15vw);
   white-space: nowrap;
   pointer-events: none;
   margin: 0;
   padding: 0;
}

.home-header .container {
   width: 100%;
   padding-bottom: 15vh;
}

.home-header .row {
   justify-content: flex-end;
}

.home-header .row .flex-col {
   width: auto;
}

.home-header .row .flex-col .header-above-h4 {
   top: -12.5vh;
   position: absolute;
}

.home-header .row .flex-col .header-above-h4 svg {
   width: clamp(1.1em, 1.3vw, 1.25em);
}

.home-header .row .flex-col h4 {
   line-height: 1.4;
   margin-bottom: 0;
}

.home-header .row .flex-col h4 span {
   display: block;
}

.home-header .get-height {
   height: 100vh;
}

.home-header .hanger {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   display: inline-block;
}

.home-header .hanger svg {
   width: auto;
   height: 6em;
}

.home-header .hanger p {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   margin: 0;
   padding-right: 5em;
   padding-left: var(--gap-padding);
   line-height: 1.2;
}

.home-header .hanger p span {
   display: block;
}

.home-header .white-block {
   position: absolute;
   height: 30vh;
   width: 50vw;
   top: 115vh;
   right: 0;
   background: var(--color-white);
   display: none;
}

.home-header .hanger .digital-ball {
   z-index: 500;
   position: absolute;
   right: .9em;
   left: auto;
   top: .9em;
   width: 4.2em;
   height: 4.2em;
   transform: translate(0%, 0%);
   background: transparent;
}

.home-header .hanger .digital-ball .globe {
   width: 2.5em;
   height: 2.5em;
   font-size: .8em;
}


@media screen and (max-width: 720px){

   .home-header {
      min-height: 110vh;
      min-height: calc(var(--vh, 1vh) * 110);
      max-height: 110vh;
      align-items: flex-end;
      padding-top: calc(var(--gap-padding) * 2);
      padding-bottom: calc(var(--gap-padding) * 2);
   }

   .home-header .personal-image {
      top: -5%;
      height: 105%;
   }

   .home-header .big-name {
      position: absolute;
      bottom: calc(var(--vh, 1vh) * 33);
      left: 0;
      width: 100%;
      padding-bottom: calc(var(--gap-padding) * 1.25);
   }

   .home-header .row {
      justify-content: flex-start;
   }

   .home-header .container {
      padding-bottom: calc(var(--vh, 1vh) * 9);
   }

   .home-header .row .flex-col .header-above-h4 {
      top: calc(var(--vh, 1vh) * -8);
      position: absolute;
   }

   .home-header .hanger {
      width: 6em;
      height: 6em;
      left: auto;
      right: 0;
      top: calc(var(--vh, 1vh) * 100);
      transform: translate(0, -110%);
   }

   .home-header .hanger svg,
   .home-header .hanger p {
      display: none;
   }

   .home-header .hanger .digital-ball .globe {
      width: 3em;
      height: 3em;
   }
   
}
