:root {
  --title-font: "Bodoni Moda", serif;
  --text-font: "Cormorant Garamond", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font) !important;
  letter-spacing: 1px !important;
}

p, span, a, li {
  font-family: var(--text-font) !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:black ;
    overflow-x: hidden;
}